[submodule "PaypalRestSdk"]
	path = PaypalRestSdk
	url = git://github.com/paypal/rest-api-sdk-php.git
[submodule "PaypalMerchantSdk"]
	path = PaypalMerchantSdk
	url = git://github.com/paypal/merchant-sdk-php.git
[submodule "PaypalCoreSdk"]
	path = PaypalCoreSdk
	url = git://github.com/paypal/sdk-core-php.git
